#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ChatWithArtist.css */

/* Media query for small screens (less than 670 pixels) */
@media (max-width: 670px) {
  .flex-1 {
    display: none; /* Hide the main chat area by default on small screens */
  }

  .sidebar-container {
    width: 100%; /* Make the sidebar take full width on small screens */
  }

  .sidebar-container .flex-1 {
    display: block; /* Show the main chat area within the sidebar container */
  }
}

